<div class="container">
    <div class="row">
        <div class="info">
            <img src="../../../../assets/architect.png"/>
            <h2>Work in Progress.....!</h2>
            <h5>Welcome to our app <b>Hurryhotel</b> . Our team is working on this feature and hoping to launch it soon...! Thanks for your support</h5>
            <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quae consequuntur, iusto, fugiat beatae tempora blanditiis quia voluptatum inventore ut quos odit vel! Quia repellendus illum exercitationem asperiores rem quaerat?
            Ut assumenda ullam itaque rem fugit magni asperiores odit debitis, iure incidunt labore consectetur veniam distinctio ipsam eius, quae dolorum quidem eos aliquam. Ratione consectetur, animi asperiores reiciendis quas impedit!
            Officiis magnam voluptate minima ea facilis! Totam similique ut laborum recusandae minus inventore minima perferendis amet quasi, aliquid a sed voluptas accusantium rem eaque natus culpa dolores magni, blanditiis ab?
            Hic aperiam dolorum voluptatum officia quam consequuntur voluptas ipsum laboriosam quod at numquam est iste distinctio, ducimus quas! Doloribus nobis in quas non. Dolorum non dolore quod nobis, incidunt aperiam!
            Repudiandae ut quibusdam cupiditate deserunt temporibus officia id labore obcaecati iste odio non culpa voluptatum, ab quos rem ipsa voluptatem, repellendus minima omnis provident consequuntur harum adipisci aliquid hic. Dolores.
            Incidunt quod dolorum, rerum accusantium rem veritatis id iste adipisci fuga voluptates, quam quis laudantium laborum vel unde numquam atque esse quas iure ratione, debitis consectetur velit ab alias! Nobis.
            Inventore accusantium soluta odio. Minus reprehenderit cumque laboriosam quasi perferendis molestias nostrum sed unde esse neque eius ex sunt nobis optio nam aperiam voluptates, earum vero, illum qui rem quaerat!
            Totam quam voluptatibus ipsa. Pariatur sed, eaque eos vero illum similique nulla architecto magni, itaque error earum incidunt dolorem. Omnis doloremque sunt vel voluptas ipsam nulla id libero minus incidunt.
            Ducimus eveniet cum doloremque temporibus iusto tempore id, hic mollitia, velit ad ipsam eum sequi non quam porro quod cupiditate officia vitae error neque, minus similique qui incidunt sunt. Magnam!
            Nostrum, illum. Totam est alias minus, aliquam nobis ipsa? Veniam similique quisquam corporis. Deleniti reprehenderit aperiam non eum at inventore maxime, labore consectetur explicabo adipisci cupiditate dolorem veritatis dolor. Eligendi!</h6>
        </div>
    </div>
</div>