<div class="container">
    <div *ngIf="!isData" class="row">
        <div class="col-lg-12 empty">
            <div class="inside-empty" style="display: flex; flex-direction: column;">
                <img src="../../../../assets/empty.png"/>
                <h2>No Past Bookings found....!</h2>
                <mat-divider></mat-divider>
                </div>
            
        </div>
    </div>
    <ng-container *ngIf="isData">
        <div (click)="openHotel(booking?.hotelId)"  class="row hoteldetail" style="justify-content:center" *ngFor="let booking of bookingHistoryData">
            <div class="col-lg-2 image" style="cursor: pointer;">
              
                    <img src={{booking?.image}}/>
    

            </div>
            <div class="col-lg-4" style="cursor: pointer;">
              <h1><i class="fa fa-h-square" aria-hidden="true"></i> {{booking?.hotelName}}</h1>
              <h4><i class="fa fa-map-marker" style="color:green; " aria-hidden="true"></i> {{booking?.city}}</h4>
              <h5><i class="fa fa-calendar" aria-hidden="true"></i> <b> {{booking?.dateOfBooking | date: 'MMM d, y'}}</b> -2 days</h5>
              <h4>2 Guests, 1 Room</h4>

            </div>
            <div class="col-lg-2">
                <h2><i class="fa fa-id-card-o" aria-hidden="true"></i> ID:HURHO{{booking?.bookingId}}</h2>
            </div>
            <div class="col-lg-2" style="display: flex; flex-direction: column;">
                <h3 style="font-weight: 600;"><i class="fa fa-check" aria-hidden="true" style="color:green;"></i>Confirmed</h3>
                
                <h4>Total Amount: ₹ {{booking?.amount}}</h4>
                <h4>Pending Amount: ₹0</h4>
                <h4>Mode: Cash</h4>
                <p style="color:red"> <i class="fa fa-question-circle" aria-hidden="true"></i>  Need Help?</p>
            </div>
        <br>
            <mat-divider></mat-divider>
            <br>
    </div>
    </ng-container>
     
        <mat-divider></mat-divider>
</div>