.search-sec{
    padding: 2rem;
    margin-top: 120px;
    box-shadow: inset 100px 0px 100px -50px #D4D4CC, 
              inset -100px 0px 100px -50px #D4D4CC;
    position: relative;
    top: -114px;

}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:20px;
}
.wrn-btn{
   
    text-transform: capitalize;
  
    border-radius:0;
}
