.dropdown-menu{
    min-width: 10rem;
}
.logo{
    margin-top:-70px;
    margin-bottom:-80px;
}

.features a{
    border: 2px solid rgb(145, 145, 145);
    padding:2px;
    border-radius: 10px;
    margin-right: 10px;
}